/* Root and global elements */
html {
    height: 100%;
    background: rgb(61,190,242);
    background: radial-gradient(circle, rgba(61,190,242,1) 0%, rgba(0,206,255,1) 68%, rgba(61,190,242,1) 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;    
}

.content {
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    margin-top: 10%;
}

button:not(.quiz-title-bar>button) {
    padding: 0.25em 0.5em;
    border: 2px solid gray;
    border-radius: 0.25rem;
    background: white;
    box-shadow: 0px 2px 1px gray;
    font-size: 1em;
    transition: all 0.1s ease-in-out;
}

button:not(.quiz-title-bar>button):hover {
    border: 2px solid navy;
    background: lightblue;
    box-shadow: 0px 2px 1px navy;
    color: #222;
}

button:not(.quiz-title-bar>button):active {
    transform: translateY(2px);
    box-shadow: none;
}

/* Info box with start button */
.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
    text-shadow: 0.05em 0.05em 0.1em black;
}

.info > h1 {
    margin: 0;
}

/* Hiscores display */
.hiscores-display {
    min-height: 10rem;
    padding: 0.25em 0.75em;
    border: 4px solid white;
    border-radius: 0.5em;
    box-shadow: 0px 0px 2px black;
    color: white;
    text-shadow: 0 0.1em 0.05em black;
}

.hiscores-display > h2 {
    margin: 0;
    border-bottom: 4px solid white;
}

.hiscores-display .user-score {
    display: flex;
    justify-content: space-evenly;
    margin: 0.25em;
    padding: 0.15em;
    border-radius: 00.25em;
    background: rgba(0, 0, 0, 0.1);
    text-shadow: 0 0.06em 0.05em black;
}

.hiscores-display .user-score p {
    margin: 0;
}


/* Quiz display window */
.quiz-window {
    display: none;
    position: absolute;
    top: 5%;
    right: 5%;
    bottom: 5%;
    left: 5%;
    flex-direction: column;
    border-radius: 0.2rem 0.2rem 2rem 2rem;
    background-color: lightblue;
}

.quiz-window :is(.quiz-title-bar, .quiz-status) {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.quiz-window .quiz-title-bar {
    margin: 0;
    border-radius: 0.2rem 0.2rem 0 0;
    background: navy;
}

.quiz-title-bar p {
    margin: 0.15rem auto 0.15rem 0.5rem;
    color: white;
}

.quiz-title-bar button {
    width: 3%;
    min-width: 1em;
    height: 100%;
    border: none;
    border-radius: 0 0.2rem 0 0;
    font-size: 1em;
    text-align: center;
    transition: all 0.1s ease-in-out;
}

.quiz-title-bar button:hover {
    background: gray;
    color: white;
}

.quiz-title-bar button:active {
    box-shadow: inset 0 0 0.2rem black;
}

:is(.quiz-status, .quiz-content) {
    margin: 0.25rem;
    padding: 0 1rem;
}

.quiz-status p:first-child {
    margin-right: auto;
}

.quiz-status p {
    margin-right: 0.5rem;
    font-size: larger;
}

.quiz-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    overflow: auto;
}

.quiz-content #quiz-question {
    max-width: 80%;
    font-size: 1.2em;
}

.quiz-content #quiz-answers {
    padding-left: 0;
}

.quiz-content #quiz-answers li {
    width: 20rem;
    height: fit-content;
    margin: 0.5rem;
    padding: 0.75rem 1rem;
    overflow: auto;
    border-radius: 0.5rem;
    background-color: white;
    list-style-type: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

#quiz-answers li:hover {
    transform: translateX(-0.4rem);
    background: navy;
    color: white;
}

#quiz-answers li:active {
    background: aqua;
    color: #222;
}

/* hiscores input modal */
.modal {
  display: none;
  z-index: 1; 
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%;
  padding-top: 100px; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.hiscores-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: auto;
    padding: 0.1rem;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    background-color: lightgray;
    color: black;
}

.hiscores-input p {
    margin-top: 0;
    text-align: center;
}

.initials-input {
    display: flex;
    margin-bottom: 0.5em;
}

.initials-input input {
    align-items: center;
    width: 2em;
    height: fit-content;
    margin-left: 0.5em;
    border: none;
    border-radius: 0.25rem;
    font-size: 1rem;
    text-align: left;
}

.hiscores-input #submit-hiscore {
    margin-top: 0.75rem;
}

/* clear hiscores button */
.clear-hiscores {
    position: absolute;
    right: 45%;
    bottom: 5%;
    left: 45%;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    /* root and global elements */
    .content {
        flex-direction: column;
        align-items: center;
        margin-top: 0;
        font-size: 0.9em;
    }

    /* info box display */
    .info {
        padding: 0 0.5rem 2rem;
    }

    /* quiz display window */
    .quiz-window {
        top: 2%;
        right: 5%;
        bottom: 2%;
        left: 5%;
        flex-direction: column;
        border-radius: 0.2rem 0.2rem 1rem 1rem;
        background-color: lightblue;
        font-size: 0.8em;
    }

    .quiz-window .quiz-title-bar {
        margin: 0;
        border-radius: 0.2rem 0.2rem 0 0;
        background: navy;
    }

    .quiz-title-bar p {
        margin: 0.15rem auto 0.15rem 0.5rem;
        color: white;
    }

    .quiz-title-bar button {
        min-width: 2em;
    }

    .quiz-window .quiz-status {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 0.5rem;
        text-align: center;
    }

    .quiz-status p {
        margin: 0.15rem !important;
    }

    .quiz-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0;
        overflow: auto;
    }

    .quiz-content #quiz-question {
        max-width: 95%;
    }

    .quiz-content #quiz-answers li {
        width: 8rem;
        overflow-wrap: break-word;
        transition: all 0.2s ease-in-out;
    }

    /* prevent li animations on mobile */
    #quiz-answers li:hover {
        transform: translateX(0);
        background: white;
        color: black;
    }

    #quiz-answers li:active {
        background: white;
        color: black;
    }

    /* hiscores input modal */
    .hiscores-input {
        margin: 5%;
    }

    /* clear hiscores button */
    .clear-hiscores {
        position: absolute;
        right: 25%;
        bottom: 5%;
        left: 25%;
        text-align: center;
    }
}